<div class="intro-container">
    <div class="intro-img">
        <img class="profile" src="../../assets/profile.jpeg" alt="">
        <img class="clouds" src="../../assets/cloud.png" alt="">

    </div>

    <div class="intro-text">
        <div class="intro-name">
            <span>
                <div class="static">
                    Hey there,
                </div>
                <br>
                <div class="dynamic">
                    I am {{introObj.name}}
                </div>
            </span>
        </div>
        <div class="intro-intro">
            <p>{{introObj.intro}}</p>
        </div>
    </div>
</div>