/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: 'rooney-medium';
    color: aqua;
    background-color: #1f2833;
}

@font-face {
    font-family: 'rooney-medium';
    src: url(./assets/rooneysans-cufonfonts/RooneySansMedium.OTF);
}