<div class="nav-container">
    <div class="nav-header-name" (mouseover)="changeRoute('intro')">
    </div>
    <span class="nav-items">
        <ul>
            <li class="about" (mouseover)="changeRoute('about')"><img class="about-me-img"
                    src="../../assets/user-circle.svg" alt="">

            </li>
            <li class="skill" (mouseover)="changeRoute('skill')"><img class="skills" src="../../assets/skills.svg"
                    alt=""></li>
            <li class="education" (mouseover)="changeRoute('education')"><img class="education" alt=""></li>
            <li class="contact" (mouseover)="changeRoute('contact')"><img class="contact" src="" alt=""></li>
        </ul>
    </span>
</div>